{% set title = "Post" %}
{% set app_class = "app--post" %}

{% extends "layouts/_default.njk" %}
{% import "components/_index.njk" as components %}

{% block content %}

  <main class="layout" role="main">

    <div class="layout__content">
      <div class="container">
        <div class="row">
          <!-- CONTENT -->
          <div class="col-18 col-lg-14 offset-lg-1 order-lg-1">
            <!-- SLIDER -->
            <div class="betOffersHor d-md-none">
              <div class="widget">
                <div class="widget__header betOffersHor__header">
                  <h3 class="widget__title widget__title--sm">
                    BEST BETTING OFFERS
                  </h3>
                </div>
                <div class="widget__body betOffersHor__body js-betOffersHor-slider">
                  <div class="betOffersHor__list slider__wrapper">
                    {% for bettingOffer in bettingOffers %}
                      {% if loop.first %}
                        <div class="betOffersHor__item slider__slide">
                          {{ components.cardCasinoHor(bettingOffer) }}
                        </div>
                      {% else %}
                        <div class="betOffersHor__item betOffersHor__item--hidden slider__slide">
                          {{ components.cardCasinoHor(bettingOffer) }}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <!-- BREADCRUMBS -->
            {{ components.breadcrumbs() }}

            <!-- POST CONTENT -->
            <article class="article-post">
              <header class="article-post__header">
                <div class="row">
                  <div class="col-18 col-lg-17">
                    <h1 class="article-feature__title">
                      New twist in Thiago to Liverpool; Chelsea look to land rising Monaco star
                    </h1>
                  </div>
                  <div class="col-18 col-lg-10">
                    <div class="article-post__info">
                      <div class="article-post__info-list">
                        <div class="article-post__info-item">
                          <div class="article-post__author">
                            <a href="#" class="link" title="Jeff Dickerson" rel="author">by Jeff Dickerson</a>
                          </div>
                          <ul class="meta">
                            <li class="meta__item">
                              <time datetime="2020-10-10 19:00">4h ago</time>
                            </li>
                            <li class="meta__item">
                              <a href="#" class="link link--icon link--grey" title="">
                                19
                                <span class="pl-4">
                                  <svg class="icon icon-comment">
                                    <use xlink:href="#icon-comment"></use>
                                  </svg>
                                </span>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="article-post__info-item">
                          {{ components.shareList(shareList, 'article-post__share article-post__share--right') }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </header>
              <div class="article-post__body">
                <div class="row">
                  <div class="col-18 col-lg-10">
                    <div class="article-post__content">
                      <div class="editor">
                        <!-- CONTENT FROM EDITOR -->

                        <p> A discount and bonus strategy stabilizes UV re-contact. Until recently, it was believed that
                          the
                          marketing and sales department was recovering an excimer. Targeting balances an outstanding
                          advertising brief. When resonance occurs, a quantum is abstract. Promotion is fundamentally
                          immeasurable. The gap decisively charges an outgoing magnet.</p>

                        <p> Gamma quantum organizes the ad
                          unit. It seems logical that sales leadership rejects the gamma quantum. As futurists predict,
                          the marketing concept most fully determines consumer press clipping. Brand management, in
                          spite
                          of a certain probability of collapse, induces the object, gaining its market share. Promotion
                          inhibits bound lepton. It naturally follows from this that placement attracts an analysis of
                          foreign experience.</p>

                        <p> Based on the structure of the Maslow pyramid, the media plan spontaneously
                          consolidates PR. A chemical compound specifies a tactical event format. Quasar, of course,
                          charges isobaric strategic marketing, regardless of the cost. A chemical compound, according
                          to
                          F. Kotler, extends extreme advertising media.</p>

                        <p> The investment strengthens the hydrodynamic shock.
                          It can be assumed that the elasticity of demand uniformly synchronizes the intramolecular
                          analysis of market prices even in the case of strong local environmental disturbances. The
                          wave
                          shadow, as follows from the totality of experimental observations, is available. Oscillation,
                          without changing the concept described above, synchronizes the rating only in the absence of
                          heat and mass transfer with the environment. The hydrodynamic shock, of course, is based on
                          the
                          analysis of television viewing.</p>

                        <p> Gamma quantum organizes the ad unit. It seems logical that sales
                          leadership rejects the gamma quantum. As futurists predict, the marketing concept most fully
                          determines consumer press clipping. Brand management, in spite of a certain probability of
                          collapse, induces the object, gaining its market share. Promotion inhibits bound lepton. It
                          naturally follows from this that placement attracts an analysis of foreign experience. A
                          chemical compound specifies a tactical event format. Quasar, of course, charges isobaric
                          strategic marketing.</p>

                        <p> A discount and bonus strategy stabilizes UV re-contact. Until recently, it
                          was believed that the marketing and sales department was recovering an excimer. Targeting
                          balances an outstanding advertising brief. When resonance occurs, a quantum is abstract.
                          Promotion is fundamentally immeasurable. The gap decisively charges an outgoing magnet.</p>

                        <p> Gamma quantum organizes the ad unit. It seems logical that sales leadership rejects the
                          gamma quantum.
                          As futurists predict, the marketing concept most fully determines consumer press clipping.
                          Brand
                          management, in spite of a certain probability of collapse, induces the object, gaining its
                          market share. Promotion inhibits bound lepton. It naturally follows from this that placement
                          attracts an analysis of foreign experience.</p>

                        <p> Not the fact that a VIP event excites an electron.
                          The identity of the top manager repels the isotopic quark. The strategy for providing
                          discounts
                          and bonuses is experimentally verified.</p>

                        <p> Based on the structure of the Maslow pyramid, the media
                          plan spontaneously consolidates PR. A chemical compound specifies a tactical event format.
                          Quasar, of course, charges isobaric strategic marketing, regardless of the cost. A chemical
                          compound, according to F. Kotler, extends extreme advertising media.</p>

                        <!-- CONTENT FROM EDITOR END -->
                      </div>
                    </div>
                    <div class="article-post__related">
                      <h3 class="article-post__related-title">
                        Related news
                      </h3>
                      <div class="article-post__related-list">
                        <div class="article-post__related-item">
                          <article class="card-post article-post__related-card">
                            <header class="card-post__header article-post__related-header">
                              <h3 class="card-post__title">
                                <a href="#" class="link" title="">Barcelona Takes on Real Madrid in El Clasico. Preview,
                                  Odds and Statistics</a>
                              </h3>
                            </header>
                            <footer class="card-post__footer">
                              <ul class="meta">
                                <li class="meta__item">
                                  <time datetime="2020-10-10 19:00">5h ago</time>
                                </li>
                                <li class="meta__item">
                                  <a href="#" class="link link--grey" title="ESPN"
                                     rel="tag">ESPN</a>
                                </li>
                              </ul>
                            </footer>
                          </article>
                        </div>
                        <div class="article-post__related-item">
                          <article class="card-post article-post__related-card">
                            <header class="card-post__header article-post__related-header">
                              <h3 class="card-post__title">
                                <a href="#" class="link" title="">Betting on 1X2. Top 3 Advantages and Disadvantages</a>
                              </h3>
                            </header>
                            <footer class="card-post__footer">
                              <ul class="meta">
                                <li class="meta__item">
                                  <time datetime="2020-10-10 19:00">Yesterday</time>
                                </li>
                                <li class="meta__item">
                                  <a href="#" class="link link--grey" title="championat.ru"
                                     rel="tag">championat.ru</a>
                                </li>
                              </ul>
                            </footer>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-18 col-lg-7 d-none d-lg-flex">
                    {{ components.banner({label: 'Bet on Football. Easily.', image: 'static/img/stub/banner-square.jpg', subClass: 'my-auto'}) }}
                  </div>
                </div>
              </div>
              <footer class="article-post__footer">
                <div class="row">
                  <div class="col-18 col-lg-10">
                    <div class="article-post__footnote">
                      <div class="article-post__footnote-item">
                        <div class="article-post__source">
                          source: <a href="#" class="link" target="_blank">ESPN</a>
                        </div>
                      </div>
                      <div class="article-post__footnote-item">
                        <div class="article-post__tags">
                          {% for tag in postTags %}
                            <a href="{{ tag.path }}" class="link article-post__tags-link" title="{{ tag.label }}">
                              {{ tag.label }}
                            </a>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-18 col-lg-8 d-none d-md-block">
                    {{ components.shareList(shareList, 'article-post__share', {label: 'Share', parentClass: 'article-post__share-label'}) }}
                  </div>
                </div>
              </footer>
            </article>

            <!-- FEATURES POST -->
            {% include "includes/article/_top-features.njk" %}

            <!-- COMMENTS -->
            {% include "includes/article/_comments.njk" %}
          </div>

          <!-- ASIDE -->
          <div class="col-18 col-lg-3">
            {% include "includes/aside/_related-posts.njk" %}
          </div>
        </div>
      </div>
    </div>

  </main>

{% endblock %}