{% set title = "Test" %}
{% extends "layouts/_default.njk" %}

{% import "components/_index.njk" as components %}

{% block content %}

  <main class="layout" role="main">

    <section class="layout__section">
      <div class="container">
        <div class="row">
          <div class="col-18 col-lg-8 offset-lg-4">
            <div class="bookmakerCard">
              <div class="widget widget--dark bookmakerCard__widget">
                <div class="widget__content">
                  <div class="bookmakerCard__content">
                    <nav class="priority-nav bookmakerCard__nav">
                      <ul class="priority-nav__list bookmakerCard__nav-list">
                        <li class="priority-nav__item bookmakerCard__nav-item bookmakerCard__nav-item--active">
                          <a href="/review.html" class="bookmakerCard__nav-link" title="">Bookmaker review</a>
                        </li>
                        <li class="priority-nav__item bookmakerCard__nav-item">
                          <a href="/android.html" class="bookmakerCard__nav-link" title="">Android app</a>
                        </li>
                        <li class="priority-nav__item bookmakerCard__nav-item">
                          <a href="/ios.html" class="bookmakerCard__nav-link" title="">iOS App</a>
                        </li>
                        <li class="priority-nav__item bookmakerCard__nav-item">
                          <a href="/bonus.html" class="bookmakerCard__nav-link" title="">Welcome bonus</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="widget__bg" style="background-color: #013BE5;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

{% endblock %}
