{% set title = "UI" %}
{% set app_class = "app--ui" %}
{% extends "layouts/_default.njk" %}

{% import "components/_index.njk" as components %}

{% block content %}

  <main class="layout" role="main">
    <section class="section py-25">
      <div class="container">
        <div class="row mb-20">
          <div class="col">
            <div class="section__label">
              <h2 class="h1">
                Grid
              </h2>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-18">
            <div class="bg-dark text-white p-15">
              1/1
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <div class="bg-dark text-white p-15">
              4/18
            </div>
          </div>
          <div class="col-4">
            <div class="bg-dark text-white p-15">
              4/18
            </div>
          </div>
          <div class="col-4">
            <div class="bg-dark text-white p-15">
              4/18
            </div>
          </div>
          <div class="col-6">
            <div class="bg-dark text-white p-15">
              6/18
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3">
            <div class="bg-dark text-white p-15">3/18</div>
          </div>
          <div class="col-3">
            <div class="bg-dark text-white p-15">3/18</div>
          </div>
          <div class="col-3">
            <div class="bg-dark text-white p-15">3/18</div>
          </div>
          <div class="col-3">
            <div class="bg-dark text-white p-15">3/18</div>
          </div>
          <div class="col-6">
            <div class="bg-dark text-white p-15">6/18</div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <div class="bg-dark text-white px-15 py-50 mb-4">1</div>
            <div class="bg-dark text-white p-15 mb-4">2</div>
          </div>
          <div class="col-4">
            <div class="bg-dark text-white p-15 mb-4">3</div>
            <div class="bg-dark text-white p-15 mb-4">4</div>
            <div class="bg-dark text-white p-15 mb-4">5</div>
          </div>
          <div class="col-4">
            <div class="bg-dark text-white p-15 mb-4">6</div>
            <div class="bg-dark text-white p-15 mb-4">7</div>
            <div class="bg-dark text-white p-15 mb-4">8</div>
          </div>
          <div class="col-6">
            <div class="bg-dark text-white px-15 py-80 mb-4">9</div>
          </div>
        </div>
        <div class="row row-cols-5">
          <div class="col">
            <div class="bg-dark text-white p-15">1/5</div>
          </div>
          <div class="col">
            <div class="bg-dark text-white p-15">1/5</div>
          </div>
          <div class="col">
            <div class="bg-dark text-white p-15">1/5</div>
          </div>
          <div class="col">
            <div class="bg-dark text-white p-15">1/5</div>
          </div>
          <div class="col">
            <div class="bg-dark text-white p-15">1/5</div>
          </div>
        </div>
      </div>
    </section>
    <section class="section py-25">
      <div class="container">
        <div class="row mb-20">
          <div class="col">
            <div class="section__label">
              <h2 class="h1">
                Spacing
              </h2>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <span class="bg-dark text-white py-8 pr-4 mr-8"></span>
            <span class="bg-dark text-white py-8 pr-8 mr-8"></span>
            <span class="bg-dark text-white py-8 pr-10 mr-8"></span>
            <span class="bg-dark text-white py-8 pr-15 mr-8"></span>
            <span class="bg-dark text-white py-8 pr-20 mr-8"></span>
            <span class="bg-dark text-white py-8 pr-25 mr-8"></span>
            <span class="bg-dark text-white py-8 pr-30 mr-8"></span>
            <span class="bg-dark text-white py-8 pr-40 mr-8"></span>
            <span class="bg-dark text-white py-8 pr-50 mr-8"></span>
            <span class="bg-dark text-white py-8 pr-70 mr-8"></span>
            <span class="bg-dark text-white py-8 pr-80 mr-8"></span>
            <span class="bg-dark text-white py-8 pr-100 mr-8"></span>
            <span class="bg-dark text-white py-8 pr-120 mr-8"></span>
            <span class="bg-dark text-white py-8 pr-150 mr-8"></span>
          </div>
        </div>
      </div>
    </section>
    <section class="section py-25">
      <div class="container">
        <div class="row mb-20">
          <div class="col">
            <div class="section__label">
              <h2 class="h1">
                Utilities class
              </h2>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-18">
            <p>.full-width-xs</p>
            <p>.full-width-sm</p>
            <p>.full-width-md</p>
            <p>.full-width-xs-none</p>
            <p>.full-width-sm-none</p>
            <p>.full-width-md-none</p>
          </div>
          <div class="col-18 col-md-6">
            <div class="full-width-xs full-width-md-none">
              <div class="bg-dark text-white py-100 px-10 w-100">
                <div class="content">
                  Full width from xs to md.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section py-25">
      <div class="container">
        <div class="row mb-20">
          <div class="col">
            <div class="section__label">
              <h2 class="h1">
                Typography
              </h2>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <h1 class="test-title-s400-10">
              Test title with mixin font-size s400-10
            </h1>
            <h2 class="test-title-s500-9">
              Test title with mixin font-size s500-9
            </h2>
            <h3 class="test-title-s700-7">
              Test title with mixin font-size s700-7
            </h3>
          </div>
        </div>
      </div>
    </section>
    <section class="section py-25">
      <div class="container">
        <div class="row mb-20">
          <div class="col">
            <div class="section__label">
              <h2 class="h1">
                Buttons
              </h2>
            </div>
          </div>
        </div>
        <div class="row mb-4 bg-dark">
          <div class="col-12 pb-10">
            <div>.btn</div>
            <button class="btn">
              Default
            </button>
          </div>
          <div class="col-12 pb-10">
            <div>.btn--green.btn--md</div>
            <button class="btn btn--green btn--md">
              Bet Now
            </button>
          </div>
          <div class="col-12 pb-10">
            <div>.btn--black.btn--lg</div>
            <button class="btn btn--black btn--lg">
              Subscribe
            </button>
          </div>
          <div class="col-12 pb-10">
            <div>.btn--white.btn--lg</div>
            <button class="btn btn--white btn--lg">
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="section py-25">
      <div class="container">
        <div class="row mb-20">
          <div class="col">
            <div class="section__label">
              <h2 class="h1">
                Links
              </h2>
            </div>
          </div>
        </div>
        <div class="row mb-4 bg-gray">
          <div class="col-12 pb-10">
            <div>.link</div>
            <a href="" class="link">
              by Jeff Dickerson
            </a>
          </div>
          <div class="col-12 pb-10">
            <div>.link--gray</div>
            <a href="" class="link link--grey">
              by Jeff Dickerson
            </a>
          </div>
          <div class="col-12 pb-10">
            <div>.link--white</div>
            <a href="" class="link link--white">
              by Jeff Dickerson
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>

  {% set categoryGroupsSports = [
    {
      label: 'Football',
      more: true,
      routes: [
      {path: '#', label: 'All'},
      {path: '#', label: 'Bundesliga', active: true},
      {path: '#', label: 'England FA Cup'},
      {path: '#', label: 'England Premier League'},
      {path: '#', label: 'International Clubs UEFA'},
      {path: '#', label: 'Champions League'},
      {path: '#', label: 'France Ligue 1'},
      {path: '#', label: 'Italy Serie A'},
      {path: '#', label: 'Sweden Allsvenskan'}
    ]
    },
    {
      label: 'Basketball',
      routes: []
    },
    {
      label: 'Baseball',
      routes: []
    },
    {
      label: 'Tennis',
      routes: []
    },
    {
      label: 'Counter-Strike',
      routes: []
    },
    {
      label: 'Dota 2',
      routes: []
    },
    {
      label: 'Table Tennis',
      routes: []
    },
    {
      label: 'Badminton',
      routes: []
    },
    {
      label: 'Volleyball',
      routes: []
    }
  ] %}
  {% set categoryGroupsBet = [
    {
      label: 'Win-Draw-Win',
      routes: [
      {path: '#', label: 'All'},
      {path: '#', label: 'Win-Draw-Win', active: true},
      {path: '#', label: 'Over/Under 2.5 Goals'},
      {path: '#', label: 'Lorem ipsum'}
    ]
    },
    {
      label: 'Both Team to Score',
      routes: []
    },
    {
      label: 'Over/Under 2.5 Goals',
      routes: []
    },
    {
      label: 'Asian Handicap',
      routes: []
    }
  ] %}

  <!-- TODO: Filter MODAL
  <div class="modal" role="dialog">
    <div class="modal__dialog" role="document">
      <div class="modal__content">
        <button type="button" class="modal__action">
          <span class="modal__action-icon">
              <svg class="icon icon-close">
                  <use xlink:href="#icon-close"></use>
                </svg>
          </span>
        </button>
        <div class="modal-body">
          <div class="container">
            <div class="aside pt-15">
              <div class="aside__item">
                <div class="widget categoryNav">
                  <div class="widget__header categoryNav__header">
                    <h3 class="widget__title widget__title--xs categoryNav__title">
                      By sports
                    </h3>
                  </div>
                  <div class="widget__body">
                    <ul class="category-list">
                      {% for group in categoryGroupsSports %}
                        <li class="category-list__group">
                          <div class="accordion">
                            <button type="button" class="accordion__header {% if loop.first %}accordion__header--opened{% endif %}">
                        <span class="accordion__header-content">
                          <span class="accordion__header-label">
                            {{ group.label }}
                          </span>
                            <span class="accordion__header-icon accordion__header-icon--right">
                              <svg class="icon icon-chevron">
                                <use xlink:href="#icon-chevron-bottom"></use>
                              </svg>
                            </span>
                        </span>
                            </button>
                            <div class="accordion__body">
                              <div class="category-list__sub">
                                {% for route in group.routes %}
                                  <div class="category-list__item {% if route.active %}category-list__item--active{% endif %}">
                                    <a href="{{ route.path }}" class="link" title="{{ route.label }}">{{ route.label }}</a>
                                  </div>
                                {% endfor %}

                                {% if group.more %}
                                  <div class="category-list__item category-list__item--active">
                                    <a href="#" class="link" title="">Show 12 more</a>
                                  </div>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="aside__item">
                <div class="widget categoryNav">
                  <div class="widget__header categoryNav__header">
                    <h3 class="widget__title widget__title--xs categoryNav__title">
                      By bet types
                    </h3>
                  </div>
                  <div class="widget__body">
                    <ul class="category-list">
                      {% for group in categoryGroupsBet %}
                        <li class="category-list__group">
                          <div class="accordion">
                            <button type="button" class="accordion__header">
                        <span class="accordion__header-content">
                          <span class="accordion__header-label">
                            {{ group.label }}
                          </span>
                            <span class="accordion__header-icon accordion__header-icon--right">
                              <svg class="icon icon-chevron">
                                <use xlink:href="#icon-chevron-bottom"></use>
                              </svg>
                            </span>
                        </span>
                            </button>
                            <div class="accordion__body">
                              <div class="category-list__sub">
                                {% for route in group.routes %}
                                  <div class="category-list__item {% if route.active %}category-list__item--active{% endif %}">
                                    <a href="{{ route.path }}" class="link" title="{{ route.label }}">{{ route.label }}</a>
                                  </div>
                                {% endfor %}

                                {% if group.more %}
                                  <div class="category-list__item category-list__item--active">
                                    <a href="#" class="link" title="">Show 12 more</a>
                                  </div>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->

{% endblock %}